In [104]:
import pandas as pd
from sqlalchemy import create_engine

In [105]:
# read csv file
file_path = "Resources/IMDb ratings.csv"
file_way = "Resources/IMDb movies.csv"
rotten_way = "Resources/rotten_tomatoes_movies.csv"
# create the data frame 
df_imdb_rating = pd.read_csv(file_path)

#movies imdp
df_imdb_movies = pd.read_csv(file_way)

#rotten tomatoes csv
df_rt = pd.read_csv(rotten_way)

/Users/jordanwright/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [106]:
#making a dataframe of the columns that are unique to rotten tomatoes
df_rt2 = df_rt[['rotten_tomatoes_link','critics_consensus','streaming_release_date','tomatometer_status', 'tomatometer_rating','tomatometer_count', 'audience_status', 'audience_rating','audience_count', 'tomatometer_top_critics_count','tomatometer_fresh_critics_count', 'tomatometer_rotten_critics_count']]  
df_rt2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17712 entries, 0 to 17711
Data columns (total 12 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   rotten_tomatoes_link              17712 non-null  object
 1   critics_consensus                 9134 non-null   object
 2   streaming_release_date            17328 non-null  object
 3   tomatometer_status                17668 non-null  object
 4   tomatometer_rating                17668 non-null  float64
 5   tomatometer_count                 17668 non-null  float64
 6   audience_status                   17264 non-null  object
 7   audience_rating                   17416 non-null  float64
 8   audience_count                    17415 non-null  float64
 9   tomatometer_top_critics_count     17712 non-null  int64
 10  tomatometer_fresh_critics_count   17712 non-null  int64
 11  tomatometer_rotten_critics_count  17712 non-null  int64
dtypes: float64(4), int64(3), object(5)
memory usage: 1.6+ MB

In [107]:
# creating a database with rotten tomato movie specific data
rt_movie_df = df_rt[['rotten_tomatoes_link', 'movie_title', 'movie_info',
       'content_rating', 'genres', 'directors', 'authors',
       'actors', 'original_release_date', 'streaming_release_date', 'runtime',
       'production_company']]
rt_movie_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17712 entries, 0 to 17711
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   rotten_tomatoes_link    17712 non-null  object
 1   movie_title             17712 non-null  object
 2   movie_info              17391 non-null  object
 3   content_rating          17712 non-null  object
 4   genres                  17693 non-null  object
 5   directors               17518 non-null  object
 6   authors                 16170 non-null  object
 7   actors                  17360 non-null  object
 8   original_release_date   16546 non-null  object
 9   streaming_release_date  17328 non-null  object
 10  runtime                 17398 non-null  float64
 11  production_company      17213 non-null  object
dtypes: float64(1), object(11)
memory usage: 1.6+ MB

In [108]:
df_imdb_movies.columns

Index(['imdb_title_id', 'title', 'original_title', 'year', 'date_published',
       'genre', 'duration', 'country', 'language', 'director', 'writer',
       'production_company', 'actors', 'description', 'avg_vote', 'votes',
       'budget', 'usa_gross_income', 'worlwide_gross_income', 'metascore',
       'reviews_from_users', 'reviews_from_critics'],
      dtype='object')

In [109]:
#database that has info unique to imdb
imdb_ratings = df_imdb_rating[['imdb_title_id', 'weighted_average_vote', 'total_votes', 'mean_vote','median_vote', 'votes_10', 'votes_9', 'votes_8', 'votes_7', 'votes_6','votes_5', 'votes_4', 'votes_3', 'votes_2', 'votes_1','allgenders_0age_avg_vote', 'allgenders_0age_votes','allgenders_18age_avg_vote', 'allgenders_18age_votes','allgenders_30age_avg_vote', 'allgenders_30age_votes','allgenders_45age_avg_vote', 'allgenders_45age_votes','males_allages_avg_vote', 'males_allages_votes', 'males_0age_avg_vote','males_0age_votes', 'males_18age_avg_vote', 'males_18age_votes','males_30age_avg_vote', 'males_30age_votes', 'males_45age_avg_vote','males_45age_votes', 'females_allages_avg_vote','females_allages_votes', 'females_0age_avg_vote', 'females_0age_votes','females_18age_avg_vote', 'females_18age_votes','females_30age_avg_vote', 'females_30age_votes','females_45age_avg_vote', 'females_45age_votes','top1000_voters_rating', 'top1000_voters_votes', 'us_voters_rating','us_voters_votes', 'non_us_voters_rating', 'non_us_voters_votes']]
imdb_ratings.head()

,imdb_title_id,weighted_average_vote,total_votes,mean_vote,median_vote,votes_10,votes_9,votes_8,votes_7,votes_6,...,females_30age_avg_vote,females_30age_votes,females_45age_avg_vote,females_45age_votes,top1000_voters_rating,top1000_voters_votes,us_voters_rating,us_voters_votes,non_us_voters_rating,non_us_voters_votes
0,tt0000009,5.9,154,5.9,6.0,12,4,10,43,28,...,5.7,13.0,4.5,4.0,5.7,34.0,6.4,51.0,6.0,70.0
1,tt0000574,6.1,589,6.3,6.0,57,18,58,137,139,...,6.2,23.0,6.6,14.0,6.4,66.0,6.0,96.0,6.2,331.0
2,tt0001892,5.8,188,6.0,6.0,6,6,17,44,52,...,5.8,4.0,6.8,7.0,5.4,32.0,6.2,31.0,5.9,123.0
3,tt0002101,5.2,446,5.3,5.0,15,8,16,62,98,...,5.5,14.0,6.1,21.0,4.9,57.0,5.5,207.0,4.7,105.0
4,tt0002130,7.0,2237,6.9,7.0,210,225,436,641,344,...,7.3,82.0,7.4,77.0,6.9,139.0,7.0,488.0,7.0,1166.0

In [110]:
#creating a df that holds movie info unique to imdb
imdb_movies = df_imdb_movies[['imdb_title_id', 'title', 'original_title', 'year', 'date_published','genre', 'duration', 'country', 'language', 'director', 'writer','production_company', 'actors','description','budget', 'usa_gross_income', 'worlwide_gross_income']]

imdb_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85855 entries, 0 to 85854
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_title_id          85855 non-null  object
 1   title                  85855 non-null  object
 2   original_title         85855 non-null  object
 3   year                   85855 non-null  object
 4   date_published         85855 non-null  object
 5   genre                  85855 non-null  object
 6   duration               85855 non-null  int64
 7   country                85791 non-null  object
 8   language               85022 non-null  object
 9   director               85768 non-null  object
 10  writer                 84283 non-null  object
 11  production_company     81400 non-null  object
 12  actors                 85786 non-null  object
 13  description            83740 non-null  object
 14  budget                 23710 non-null  object
 15  usa_gross_income       15326 non-null  object
 16  worlwide_gross_income  31016 non-null  object
dtypes: int64(1), object(16)
memory usage: 11.1+ MB

In [111]:
#renaming title column to movie_title and date-published
imdb_movies = imdb_movies.rename(columns={'title':'movie_title', 'date_published':'original_release_date'})
imdb_movies.head()

,imdb_title_id,movie_title,original_title,year,original_release_date,genre,duration,country,language,director,writer,production_company,actors,description,budget,usa_gross_income,worlwide_gross_income
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,Alexander Black,Alexander Black Photoplays,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,NaN,NaN,NaN
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,None,Charles Tait,Charles Tait,J. and N. Tait,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,$ 2250,NaN,NaN
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,"Urban Gad, Gebhard Schätzler-Perasini",Fotorama,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,NaN,NaN,NaN
3,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,Victorien Sardou,Helen Gardner Picture Players,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,$ 45000,NaN,NaN
4,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",Dante Alighieri,Milano Film,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,NaN,NaN,NaN

In [112]:
df_imbd_rating.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85855 entries, 0 to 85854
Data columns (total 49 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   imdb_title_id              85855 non-null  object
 1   weighted_average_vote      85855 non-null  float64
 2   total_votes                85855 non-null  int64
 3   mean_vote                  85855 non-null  float64
 4   median_vote                85855 non-null  float64
 5   votes_10                   85855 non-null  int64
 6   votes_9                    85855 non-null  int64
 7   votes_8                    85855 non-null  int64
 8   votes_7                    85855 non-null  int64
 9   votes_6                    85855 non-null  int64
 10  votes_5                    85855 non-null  int64
 11  votes_4                    85855 non-null  int64
 12  votes_3                    85855 non-null  int64
 13  votes_2                    85855 non-null  int64
 14  votes_1                    85855 non-null  int64
 15  allgenders_0age_avg_vote   33359 non-null  float64
 16  allgenders_0age_votes      33359 non-null  float64
 17  allgenders_18age_avg_vote  85149 non-null  float64
 18  allgenders_18age_votes     85149 non-null  float64
 19  allgenders_30age_avg_vote  85845 non-null  float64
 20  allgenders_30age_votes     85845 non-null  float64
 21  allgenders_45age_avg_vote  85775 non-null  float64
 22  allgenders_45age_votes     85775 non-null  float64
 23  males_allages_avg_vote     85854 non-null  float64
 24  males_allages_votes        85854 non-null  float64
 25  males_0age_avg_vote        27411 non-null  float64
 26  males_0age_votes           27411 non-null  float64
 27  males_18age_avg_vote       84390 non-null  float64
 28  males_18age_votes          84390 non-null  float64
 29  males_30age_avg_vote       85843 non-null  float64
 30  males_30age_votes          85843 non-null  float64
 31  males_45age_avg_vote       85754 non-null  float64
 32  males_45age_votes          85754 non-null  float64
 33  females_allages_avg_vote   85774 non-null  float64
 34  females_allages_votes      85774 non-null  float64
 35  females_0age_avg_vote      22117 non-null  float64
 36  females_0age_votes         22117 non-null  float64
 37  females_18age_avg_vote     79334 non-null  float64
 38  females_18age_votes        79334 non-null  float64
 39  females_30age_avg_vote     84911 non-null  float64
 40  females_30age_votes        84911 non-null  float64
 41  females_45age_avg_vote     83057 non-null  float64
 42  females_45age_votes        83057 non-null  float64
 43  top1000_voters_rating      85176 non-null  float64
 44  top1000_voters_votes       85176 non-null  float64
 45  us_voters_rating           85646 non-null  float64
 46  us_voters_votes            85646 non-null  float64
 47  non_us_voters_rating       85854 non-null  float64
 48  non_us_voters_votes        85854 non-null  float64
dtypes: float64(37), int64(11), object(1)
memory usage: 32.1+ MB

In [113]:
#merg imdb movie data to rt movie data
imdb_movies = imdb_movies.merge(rt_movie_df, on=['movie_title', 'original_release_date'], how='outer', suffixes=('_imdb', '_rt'))

imdb_movies.head()

,imdb_title_id,movie_title,original_title,year,original_release_date,genre,duration,country,language,director,...,rotten_tomatoes_link,movie_info,content_rating,genres,directors,authors,actors_rt,streaming_release_date,runtime,production_company_rt
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45.0,USA,None,Alexander Black,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70.0,Australia,None,Charles Tait,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53.0,"Germany, Denmark",NaN,Urban Gad,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100.0,USA,English,Charles L. Gaskill,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68.0,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [128]:
#creating a database with info with actor info
actors_df = imdb_movies[['movie_title','imdb_title_id','actors_imdb']]
actors_df = actors_df.dropna(how='any')
actors_df = actors_df.reset_index(drop=True)
actors_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85786 entries, 0 to 85785
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   movie_title    85786 non-null  object
 1   imdb_title_id  85786 non-null  object
 2   actors_imdb    85786 non-null  object
dtypes: object(3)
memory usage: 2.0+ MB

In [121]:
#creating lists to loop through actors to elimate multiple 
actors_film_ids = []
actors_names = []

In [125]:
for i in actors_df.index:
    actors = actors_df.loc[i,'actors_imdb']
    film_id = actors_df.loc[i,'imdb_title_id']
    actors_list = actors.split(",")
    for actor in actors_list:
        actors_film_ids.append(film_id)
        actors_names.append(actor)

In [126]:
from sqlalchemy import create_engine
rds_connection_string = "postgres:Ordanja12!@localhost:5432/movie_ratings"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [127]:
engine.table_names()

OperationalError: (psycopg2.OperationalError) FATAL:  password authentication failed for user "postgres"

(Background on this error at: http://sqlalche.me/e/13/e3q8)